* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding: 7px;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: #798071;
    background-color: #95829F;
    max-width: 100%;
    position: sticky;
    top: 0;
    z-index: 99;
}

h1 {
    text-align: left;
    align-self: center;
    order: 2;
    text-shadow: -1px -1px 0 #1c6e8c, 1px -1px 0 #1c6e8c, -1px 1px 0 #1c6e8c, 1px 1px 0 #1c6e8c;
}

nav {
    overflow: auto;
    background-color: #95829F;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
}

nav a {
    float: right;
    color: #E8EBE4;
    text-decoration: none;
    padding: 14px 16px;
    text-align: center;
    font-size: 16px;
}


body {
    background-color: rgba(75, 59, 71, .15);
    padding: 0px;
}


main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    border-bottom: 4px solid rgba(121, 128, 113, 1);
}

main section {
    position: relative;
    text-align: center;
}

section div img {
    border-radius: 10px;
}

p {
    color: #1c6e8c;
    border-bottom: 4px solid rgba(121, 128, 113, 1);
}

h2 {
    color: #798071;
    text-align: left;
    flex-basis: auto;
    align-self: flex-start;
    margin-bottom: 10px;
    border-bottom: 4px solid rgba(121, 128, 113, .5);
    text-shadow: -1px -1px 0 #1c6e8c, 1px -1px 0 #1c6e8c, -1px 1px 0 #1c6e8c, 1px 1px 0 #1c6e8c;
}

footer {
    background-color: #95829F;
    text-align: center;
    border-radius: 0;
    color: #798071;
    text-shadow: -1px -1px 0 #1c6e8c, 1px -1px 0 #1c6e8c, -1px 1px 0 #1c6e8c, 1px 1px 0 #1c6e8c;
    border-top: 4px solid rgba(121, 128, 113, 1);
}

.header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: left;
    align-content: flex-start;
}

.header img {
    float: left;
    align-self: flex-start;
    flex-basis: auto;
    width: auto;
    height: 100px;
    order: 1;
    border-radius: 10%;
}


.banner-image {
    width: 100%;
    max-height: 100px;
    border-top: 4px solid #798071;
    border-bottom: 4px solid #798071;
    z-index: 1;
    margin-top: 3px;
}

.Project {
    align-self: auto;

}

.Project h3 {
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: #798071;
    text-shadow: -1px -1px 0 #1c6e8c, 1px -1px 0 #1c6e8c, -1px 1px 0 #1c6e8c, 1px 1px 0 #1c6e8c;
}

.Contact-Info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-around;
    margin-bottom: 10px;
    gap: 10px 20px;
}

.Contact-Info a {
    align-self: auto;
    text-decoration: none;
    text-shadow: -1px -1px 0 #1c6e8c, 1px -1px 0 #1c6e8c, -1px 1px 0 #1c6e8c, 1px 1px 0 #1c6e8c;
    color: #798071;
}

.dropdown {
    overflow: auto;
}

.dropbutton {
    border: none;
    margin: 0;
    padding: 14px 16px;
    color: #E8EBE4;
    outline: none;
    font-size: 16px;
    background-color: inherit;
    font-family: inherit;
    float: right;
}

nav a:hover,
.dropdown:hover .dropbutton {
    background-color: #B084CC;
}

.dropdown-projects {
    display: none;
    position: absolute;
    color: #B084CC;
    background-color: #B084CC;
    min-width: 160px;
    z-index: 1;
    box-shadow: 1px 12px 20px 1px rgba(176, 132, 204, 0.643);
    margin-right: 15px;
}

.dropdown-projects-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.dropdown-projects a {
    align-self: flex-start;
}

.dropdown-projects a:hover {
    background-color: #B084CC;
}

.dropdown:hover .dropdown-projects {
    display: block;
}

.Contact-Info a:hover {
    text-shadow: -1px -1px 0 #B084CC, 1px -1px 0 #B084CC, -1px 1px 0 #B084CC, 1px 1px 0 #B084CC;
    color: #95829F;
    text-decoration: underline;
    text-decoration-color: #1c6e8c;
}